@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 8px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  font-family: 'Poppins', sans-serif !important;
  background-color: #f0f0f0 !important;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

.color {
  color: #f66902;
}

/* NAVBAR! */

.logo {
  height: 25px;
}

.navs {
  background-color: #fff;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0, 1);
}

.my-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.my-navlinks {
  display: flex;
  align-items: center;
}

.my-navlinks a {
  color: black !important;
  text-decoration: none;
}

.my-navlinks li {
  margin: 1.4rem;
  position: relative;
  top: 0.58rem;
}

.ham {
  display: none;
}

/* BANNER! */

.carousel-control-prev {
  display: none !important;
}
.carousel-control-next {
  display: none !important;
}

.banner {
  background-color: #c4c4c4;
  border-radius: 4px;
}

.banner-det p {
  text-overflow: ellipsis;
}

.banner img {
  border-radius: 5px;
}

.my-flex {
  display: flex;
  justify-content: flex-end;
}

.my-btn {
  background-color: #f66902 !important;
  color: #fff !important;
}

.my-sec-btn {
  background-color: #db6d1f !important ;
  color: #fff !important;
}

/* TRENDING AND BOX OFFICE MOVIES! */

.scrollable-card {
  overflow-x: scroll;
}

.scrollable-card a {
  color: black !important;
  text-decoration: none !important;
}

.movie-card {
  margin: 0 1rem;
  cursor: pointer;
}
.movie-card img {
  height: 350px;
  border-radius: 10px;
}

.movie-card p {
  color: #696464;
}

.my-options {
  width: 20% !important;
}

.popular a {
  text-decoration: none;
  color: black;
}

/* MOVIE DETAILS! */

.like {
  position: relative;
  top: -0.1rem;
  font-size: 1.2rem;
}

.facts span {
  margin-right: 0.7rem;
}

.certification {
  border: 1px solid black;
  color: black;
  padding: 0rem 0.1rem;
}

.vote {
  border-radius: 30px;
  width: 8%;
  padding: 1rem;
  margin: 0 auto;
  text-align: center;
}

.add-det {
  width: 100%;
}

/* CAST CREW! */

.cast-crew img {
  height: 200px;
}

/* CELEB DETAILS! */
.celeb img {
  height: 500px;
  border-radius: 7px;
}

.celeb-det {
  position: relative;
  right: 13rem;
}

/* ACCOUNT! */

.account {
  margin: 3rem auto;
}

.edit-user input {
  outline: none;
  padding: 0.35rem;
  border: none;
  border-radius: 4px;
}

/* .acc-img img {
  height: 500px;
} */

.user-details {
  width: 90%;
  padding: 1rem;
  border: 1px solid #f66902;
}

.edit-icon {
  position: relative;
  left: 32rem;
  background-color: #f66902;
  font-size: 2rem;
  padding: 0.2rem;
  border-radius: 4px;
  cursor: pointer;
}

/* ABOUT! */
.about-stuff img {
  height: 300px;
  border-radius: 8px;
}

/* FAVS! */

.favs {
  background-color: #fff;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}

/* FOOTER! */
footer {
  background-color: #fff;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0, 1);
}

footer a {
  color: black !important;
}

.social-icons {
  font-size: 1.5rem;
  margin: 0.5rem 1rem;
  cursor: pointer;
}

/* .link-container {
  height: auto !important;
} */

@media (max-width: 770px) {
  .user-details {
    width: 100%;
  }

  .edit-icon {
    position: initial;
    left: 0;
  }

  .fsize {
    font-size: 0.9rem;
  }

  .logo {
    margin: 1rem;
    height: 20px;
    position: relative;
    right: 1rem;
  }

  .ham {
    display: block;
    position: absolute;
    right: 1.3rem;
    top: 0.85rem;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .my-nav {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
  }

  .my-navlinks {
    flex-direction: column;
    align-items: flex-start;
  }

  .link-container {
    height: 0;
    overflow: hidden;
    transition: all 0.25s linear;
  }

  .my-navlinks li {
    margin: 1rem;
    position: relative;
    right: 2rem;
  }

  .my-flex {
    display: flex;
    justify-content: center;
  }

  .carousel-indicators {
    /* position: relative; */
    left: 10rem !important;
  }
  .my-options {
    width: initial !important;
  }
  .vote {
    width: initial;
  }
  .celeb-det {
    position: initial;
    right: initial;
  }

  .gallery-img {
    max-width: 100% !important;
  }
  .account {
    margin: 2rem 0;
  }
  .about-stuff img {
    height: initial;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
}
